**/__pycache__
**/.venv
backend/htmlcov
frontend/blob-report
frontend/dist
frontend/node_modules
frontend/playwright-report
frontend/test-results
node_modules

.venv
.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.vscode
.idea

.env

alembic/versions/__pycache__

dist
build